.box {
  overflow: hidden;
  border-radius: 0 0 600px 600px;
  margin: 0;
  $root: &;
  cursor: pointer;

  &--alternative {
    border-radius: 0;
  }

  &--alternative &__image {
    min-height: 700px;
    width: 100%;

    @include vp-1023 {
      min-height: 410px;
    }

    @include vp-767 {
      min-height: 285px;
    }
  }

  &__image {
    transition: transform $transition-300;

    #{$root}:hover & {
      transform: scale(1.1) translateY(5%);
    }

    @media (max-width: 1450px) {
      min-height: 600px;
    }

    @include vp-1023 {
      min-height: 350px;
    }

    @media (max-width: 500px) {
      min-height: 285px;
    }
  }

  &__caption {
    margin: 0;
    font-family: $ff-tenor;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.08em;
    text-align: center;
    text-transform: uppercase;
    color: $color-fallow;
    transition: opacity $transition-300;

    #{$root}:hover & {
      opacity: 0;
    }

    @include vp-1023 {
      font-size: 14px;
      line-height: 18px;
    }

    @include vp-767 {
      font-size: 12px;
      line-height: 16px;
    }
  }
}